<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to TIM!</h1>
    <h2>TIM stands for "time is money". TIM was created to make job search easier, and to save jobsearchers time aka money. Cool, isn't it? </h2>

    <!-- Sample HTML Form -->
    <form action="/data" method = "POST">
        <p>If you want to receive job offers from TIM, please leave your email. TIM will send you all posts from last 24 hours. </p>
        Email:<br>
        <input type="email" name="Contact-Email"><br><br> 
        
        <button type="submit" id="email" name="email" value="Submit">Send</button>
        <!-- https://pythonise.com/series/learning-flask/flask-working-with-forms -->
    </form>  


</body>
</html>